<!DOCTYPE html>
<html>
  <head>
    <link href="../../assets/stylesheets/pages.css.scss" rel="stylesheet">
  </head>
  <body>
    <header>
    	<nav>
      	<ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">About Me</a></li>
          <li><a href="#">Contact</a></li>
          <li>Dexter Clarke</li>
        </ul>
      </nav>
    </header>
    <main>
    	<h1> Lets Build A Webpage For The World To See! </h1>
      <a class="btn btn-default" href="#">View my Work</a>
    </main>
    <footer>
    	<img src="https://www.dropbox.com/s/soboqb2oty9rvs9/copyright-symbol.png?raw=1">
      <img src="https://www.dropbox.com/s/b7ooz13bn2bu5bq/linkedin-button.png?raw=1">
      <img src="https://www.dropbox.com/s/lfmrmglmy3x9gde/github-logo.png?raw=1">
      <img src="https://www.dropbox.com/s/vi43gd92fubafw4/social.png?raw=1">
    </footer>
  </body>
</html>